<!DOCTYPE html>
<html>
<head>
    <title>Elecciones</title>
    <style>
        img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <h1>Listado de votantes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Imagen</th>
        </tr>
        <% votantes.forEach(function(votante){ %>
        <tr>
            <td><%= votante.id %></td>
            <td><%= votante.nombre %></td>
            <td><%= votante.apellido %></td>
            <td><img src="/uploads/<%= votante.imagen %>" alt="<%= votante.nombre %> <%= votante.apellido %>"></td>
        </tr>
        <% }); %>
    </table>
</body>
<script src="index.js"></script>
</html>