/* Reset some default styling */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Header Styles */
header {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Navigation Styles */
nav {
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Projects Section Styles */
#projects {
    padding: 20px;
}

.project {
    margin-bottom: 20px;
}

/* About Me Section Styles */
#about {
    padding: 20px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Responsive Styles */
@media screen and (min-width: 600px) {
    /* Adjustments for tablets and larger screens */
    header {
        padding: 40px;
    }

    nav ul {
        padding: 20px 0;
    }

    #projects, #about {
        padding: 40px;
    }
}
