<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Voter Registry</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Voter Registry</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for voter in voters %}
                <tr>
                    <td>{{ voter.id }}</td>
                    <td>{{ voter.fname }}</td>
                    <td>{{ 'Male' if voter.gender == 'm' else 'Female' }}</td>
                    <td>{{ voter.age }}</td>
                    <td>{{ voter.location }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
